
<h1>Schedule Manager</h1>

<a class="btn btn-primary" asp-action="Index" asp-controller="TimeSlots">Manage Time Slots</a>
<a class="btn btn-primary" asp-action="ScheduleIndex" asp-controller="TimeSlots">Generate New Schedule</a>

